<h1>Shopping Cart</h1>

<% if @cart_stickers.empty? %>
  <p>Your cart is empty.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th> <!-- New column for quantity -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_stickers.each do |sticker| %>
        <tr>
          <td><%= sticker.name %></td>
          <td><%= number_to_currency(sticker.price) %></td>
          <td><%= @cart.count(sticker.id) %></td> <!-- Display the quantity -->
          <td>
            <%= link_to 'Remove', remove_from_cart_sticker_path(sticker), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><strong>Cart Total:</strong> <%= number_to_currency(@cart_total) %></p>

  <%= link_to 'Checkout', checkout_path, class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to Stickers', stickers_path %>
